
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    overflow-y: hidden;
}

.digital-clock {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 0 2rem;
    padding: 3rem;
    border: 0.5rem solid #2d2d2d;
    align-items: center;

}

.week {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
}

.week .active {
    color: white;
}

.time {
    font-family: "FX_LED", monospace;
}

.hour, .min, .sec, .dot {
    display: inline-block;
    font-size: 10rem;
}

.invsible {
    visibility: hidden;
}

@media screen and (max-width: 867px) {
    .dot{
        display: none;
    }
    .time{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
