*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digital-clock {
    
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 0 2rem;
    border: 0.5rem solid #2d2d2d;
    align-items: center;
}

.week {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.week .active {
    color: white;
}

.time {
    font-family: "FX_LED", monospace;
}

.hour, .min, .sec, .dot {
    display: inline-block;
    font-size: 10rem;
}

.invsible {
    visibility: hidden;
}
